[Desktop Entry]
Type=Application
Name=localsend_app
Comment=localsend_app startup script
Exec=/opt/localsend_app/localsend_app --hidden
StartupNotify=false
Terminal=false
